<div class="row">
    <div class="col-lg-6">
        <h1>{{ vm.pageHeader.title }}</h1>
    </div>
</div>

<p>{{id}}</p>

<div class="panel panel-default" ng-repeat="item in vm.data">
    <!-- Default panel contents -->
    <div class="panel-heading">{{item.name}}</div>
    <div class="panel-body">
        <p>{{item.description}}</p>
    </div>

    <!-- List group -->
    <ul class="list-group" ng-repeat="bid in item.bids">
        <li class="list-group-item">{{ bid.username + "  " +  bid.price }}</li>

    </ul>
</div>