<div class="row">
    <div class="col-lg-6">
        <h1>{{ vm.pageHeader.title }}</h1>
    </div>
</div>






<div class="panel panel-default" ng-repeat="item in vm.data">
    <!-- Default panel contents -->
    <div class="panel-heading">{{item.name + "&nbsp &nbsp &nbsp &nbsp &nbsp " + vm.itemId}}</div>
    <div class="panel-body">
        <p>{{item.description}}</p>
        <p>{{"Starting Price: $"+ item.startingPrice}}</p>

    </div>

    <!-- List group -->
    <ul class="list-group" ng-repeat="bid in item.bids  | orderBy : 'price'">
        <li class="list-group-item">{{ "username: " + bid.username +
            "  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Bid Amount  $" +  bid.price }}</li>

    </ul>
</div>
<div class="row">
    <a class="btn btn-primary" href="/#/bid/{{vm.itemId}}">Bid Now</a>
</div>
