<div class="row">
    <div class="col-lg-6">
        <h1>{{ vm.pageHeader.title }}</h1>
    </div>
</div>

<p>{{vm.message}}</p>

<form ng-submit="vm.onSubmit()" role="form">
    <div class="form-group">
        <label for="name">Item Name:</label>
        <input class="form-control" id="name" name="name" ng-model="vm.formData.name">
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input class="form-control" id="description" name="description" ng-model="vm.formData.description">
    </div>
    <div class="form-group">
        <label for="startingPrice">Starting Price:</label>
        <input class="form-control" type="number" id="startingPrice" name="startingPrice" ng-model="vm.formData.startingPrice">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>

</form>


