doctype html
html
  head

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js")


  body(ng-app="myApp")
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='#/') BidNow!
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar



    .container
      div(ng-view)
        block content

      footer
        .row
          .col-xs-12
            small &copy; 2016



script(src='/app.js')
script(src='/home/home.controller.js')
script(src='/add/add.controller.js')
script(src='/detail/detail.controller.js')
script(src='/bid/bid.controller.js')
script(src='/javascripts/jquery-1.11.1.min.js')
script(src='/bootstrap/js/bootstrap.min.js')
